.Dark {

    background-color: #282828 !important;


    p {
        color: #fff !important;
    }

    h1 {
        color: #fff !important;
    }

    h4 {
        color: #fff !important;
    }

    a {
        color: #fff !important;

    }

    li {
        color: #fff !important;
    }

    i {
        color: #fff !important;
    }

    span {
        color: #fff !important;
    }

    button {
        color: #fff !important;
        border-color: #fff !important;

    }

    button:hover {
        border-color: #2577fd !important;
    }



}