.Dark{

    background-color: #282828!important;
    
    p{
        color: #fff !important;
    }
    h4{
        color: #fff !important;
    }
    li a{
        color: #fff  !important;
    }
    li a:hover {
        color: #007bff !important;
    }

    a i{
        color: #fff  !important;
    }
     a i:hover {
        color: #007bff !important;
    }
    }
 