.Dark {
    background-color: #282828 !important;
    
    a {
      color: #fff !important;
      border-color: #fff !important;
    }
  
    a:hover {
      color: #fff !important;
      border-color: #2577fd !important;
    }
  
   
span{
    color: #fff !important;
}

    .single_confirmation_details {

        background-color: #282828 !important;

        h1{
            color: #fff !important;
        }
p{
    color: #fff !important;
}

span{
    color: #fff !important;
}



    }
    .order_details_iner {

        background-color: #282828 !important;

        h3{
            color: #fff !important;
        }
        th{
    color: #fff !important;
}

span{
    color: #fff !important;
}



    }

    
  }


  