.Dark {

  background-color: #282828 !important;

  .contact-title {
    color: #fff !important;
  }

  a {
    color: #fff !important;
  }

  a:hover {
    color: #fff !important;
  }

  button {
    color: #fff !important;
    border-color: #fff !important;

  }

  button:hover {
    border-color: #2577fd !important;
  }

  textarea {
    color: #fff !important
  }

  input {
    color: #fff !important
  }


}