<div [ngClass]="isDarkMode?'Black':''">
<div style="text-align: center; height: 200px;">
  <h1 mat-dialog-title style="font-size: 20px; font-weight: bold;">{{data.title}}</h1>

  <div class="bootstrap-container" style="text-align: center;">
    <ngb-rating [(ngModel)]="data.rate" [max]="5"></ngb-rating>

  </div>
  <br>

  <div mat-dialog-actions style="text-align: center; justify-content: center; ">
    <button mat-button mat-dialog-close cdkFocusInitial style="color:blue " (click)="ClickYes()">{{'gen.Yes'
      |translate}}</button>
    <button mat-button mat-dialog-close style="color:red " (click)="ClickNo()">{{'gen.No' |translate}}</button>
  </div>
</div>
</div>
