.Darka {
  background-color: #282828 !important;



  th {
    color: #fff !important;
  }

  p {
    color: #fff !important;
  }

  h5 {
    color: #fff !important;
  }

  a {
    color: #fff !important;
    background-color: #282828 !important;
}

 a:hover {
    color: #fff !important;
 
}

}