<app-nav></app-nav>

<div [ngClass]="isDarkMode?'Dark':''">
    <!-- slider Area Start-->

    <div class="slider-area ">

        <!-- Mobile Menu -->

        <div class="single-slider slider-height2 d-flex align-items-center"
            style="background-image: url(&quot;assets/img/hero/category.jpg&quot;);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Forget Password</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- slider Area End-->

    <!--================login_part Area =================-->

    <section class="login_part section_padding"
        style="display: flex; align-items: center; justify-content: center; height: 100vh;">
        <div class="container" style="text-align: center;">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3>{{'TitlePages.Reset password Now'|translate}}<br></h3>

                            <form class="row contact_form" method="post">

                                <div class="col-md-12 form-group p_star">
                                    <input [(ngModel)]="input.UserName" name="UserName" type="email"
                                        class="form-control" placeholder="{{'password.Email'|translate}}">
                                    <br>
                                </div>

                                <div class="col-md-12 form-group p_star">
                                    <input [(ngModel)]="input.NewPassword" name="NewPassword" type="password"
                                        class="form-control" placeholder="{{'password.New Password'|translate}}">
                                    <br>
                                </div>


                                <div class="col-md-12 form-group">
                                    <button type="submit" value="submit" class="btn_3" style="width: 100%;"
                                        (click)="EiditePassword()">{{'button.RESET PASSWORD'|translate}}</button>
                                    <a class="lost_pass" [routerLink]="''" style="color: rgb(13, 124, 235) "
                                        (click)="NaivageteToLogin()">{{'gen.Back'|translate}}</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<!--================login_part end =================-->

<app-footer></app-footer>