
.Dark {
    background-color: #282828 !important;
    
    a {
      color: #fff !important;
      border-color: #fff !important;;
    }
  
   a:hover {
      color: #2577fd !important;
      border-color: #2577fd !important;;
    }
    button{
        color: #fff !important;
        border-color: #fff !important;
    
      }
      button:hover{
        border-color: #2577fd !important;
      }
    
    h3{
      color: #fff !important;
    }
    input{
      background-color: #282828 !important;
      color: fff !important;
    }
    input::placeholder {
      color: #fff !important; 
    }
  }